/* main-Intro */
.main-Intro .section01 {
    margin-top: 60px;
    height: 37.5rem;
    background-color: #fff;
    border-radius: 30px;
    z-index: -100;
    position: relative;
}

.content {
    padding: 70px 50px;
    position: relative;
}

.section01__img01 {
    width: 18.75rem;
    height: 33.75rem;
    position: absolute;
    right: 2rem;
    top: 2rem;
    background: url('../img/main-img02.jpg') center / cover;
    border-radius: 25px;
    z-index: -10;
}

.section01__img02 {
    position: absolute;
    right: 15.625rem;
    top: 3.75rem;
    width: 16.875rem;
    height: 11.875rem;
    background: url('../img/main-img03.jpg') center / cover;
}

.section01__img03 {
    position: absolute;
    z-index: 1;
    right: 7.5rem;
    top: 10rem;
    width: 16.875rem;
    height: 11.875rem;
    background: url('../img/main-img04.jpg') center / cover;
}

.section01 h3 {
    font-size: 5rem;
    line-height: 6rem;
    font-family: var(--fontL);
    font-weight: 800;
}

@media (max-width:1000px) {
    .main-Intro .section01 {
        width: 100%;
    }
}